li.dropdown:hover>ul {
  display: block;
}

li.dropdown:hover ul li:hover>ul {
  display: block;
}

.dropdown-menu {
  top: 95%;
}

</style>

<style>
.announcement-box {
  margin-top: 210px;
}


.carousel-control-prev-icon {
  background: url('');
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.announcement-box {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99;
}

@media screen and (min-width: 600px) {
  .announcement-box {
    position: absolute;
    right: 5%;
    top: 5%;
  }

  .announcement-box {
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
  }

  .announcement-box li a {
    color: #fff;
  }

  .principal-desk-container {
    height: 580px;
    margin-left:50px;
    margin-top: 50px;
    width:400px;
  }
}

.principal-desk-container {
  border: 1px solid #b04400;
  padding: 15px;
  background: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.20);
}

.principal-desk-container .image-container {
  width: 100%;
  text-align: center;
}

.principal-desk-container .image-container .image {
  width: 300px;
  height: 201px;
  margin: auto;
  margin-bottom: 10px;
  overflow: hidden;
  < !--border-radius: 50%;
  -->
}

.principal-desk-container h2 {
  color: #b04400;
  font-size: 16px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-bottom: 25px;
  position: relative;
}

.crcile-box:hover .sprite,
.crcile-box:hover .sprite2 {
  filter: grayscale(1) invert(1);
}

.crcile-box:hover span {
  color: #fff;
}

.crcile-box:hover {
  background-color: #b04400;
  transition: 0.6s;
}

.crcile-box:hover .crcile {
  border-color: #fff;
}

.crcile-box {
  < !--background-color: #efc600;
  -->transition: 0.6s;
  margin-bottom: 0;
  padding: 11px;
  height: 180px;
  border-radius: 4px;
}

.crcile {
  border: 3px solid #b04400;
  margin: 40px;
}
